/*AGENT_SHEET*/

/* get rid of white padding on top of tabbar */
#main-window[sizemode="normal"] > #titlebar {
  margin-bottom: -31px !important;
}

/* styling for unread/unloaded tabs */
.tabbrowser-tab[pending] .tab-label {
  font-style: italic !important;
}

.tabbrowser-tab[pending] .tab-label {
  opacity: 0.6 !important;
}

.tabbrowser-tab[pending] .tab-icon-image {
  opacity: 0.6 !important;
}

.tabbrowser-tab[unread] .tab-label {
  font-style: italic !important;
}

/* show tab close button when hovering over tab */
.tabbrowser-tab:hover:not([pinned]) .tab-close-button {
  display: inherit !important;
}

/* prettier notify icon for pinned tabs */
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  box-shadow: inset 0 -2px #0a84ff;
  background: none !important;
}